/* : Lucha, Normal, Planta, Psíquico, Roca, Siniestro, Tierra, Veneno, Volador,  */
:root {
    --steel: rgb(150, 150, 170); 
    --water: rgb(100, 149, 237);  
    --bug: rgb(100, 130, 100);    
    --dragon: rgb(200, 100, 100); 
    --electric: rgb(255, 255, 150); 
    --ghost: rgb(150, 120, 120);  
    --fire: rgb(255, 165, 80);    
    --fairy: rgb(230, 100, 150);  
    --ice: rgb(180, 180, 230);     
    --fighting: rgb(150, 50, 50);  
    --normal: rgb(150, 150, 150);  
    --grass: rgb(100, 200, 100);   
    --psychic: rgb(200, 100, 200);  
    --rock: rgb(150, 100, 50);      
    --dark: rgb(100, 80, 60);       
    --ground: rgb(150, 150, 100);   
    --poison: rgb(150, 100, 150);   
    --flying: rgb(100, 130, 180);   
}


*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--fire);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 30px;
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 70%;}

#tarjeta_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    border: 1px solid grey;
    align-self: center;
}

#tarjeta_principal img{
    width: 200px;
    height: 200px;
}

#tipos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tipos h1{
    text-align: center;
    margin-top: 10px;
} 

.estat{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.status-bar {
    width: 100%;
    height: 20px;
    background-color: #c5b8b8; 
    border-radius: 5px; 
    overflow: hidden; 
    border:1px solid gray;
    align-self: center;
}
.status-bar-color {
    height: 100%;
    width: 0; 
    transition: width 0.5s; 
}

#boton, #boton_debilidad{
    border:none;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}


/* media queries */
@media(max-width:500px){
    #boton, #boton_debilidad{
        margin-bottom: 5px;
 }
}